nav{

    ul{
    display: flex;
    justify-content: space-around;
    background-color: $primary-color;
    color: white;
    }

    li{
        display: flex;
        padding: 10px;

        &:hover{
            cursor: pointer;
        }

        i{
            margin-right: 10px;
        }
    }
}

@media all and (min-width : 950px){

    nav{
        li{
        font-size: 1.5rem;
        } 
    }
}
