body{
    background-image:url(../../public/pictures/icon.png) ;
    background-repeat: no-repeat;
}

@media all and (min-width : 950px){

    body{
        background-image:url(../../public/pictures/icon.png) ;
        background-repeat:repeat-y;
        background-position: center;
    }

}