$primary-color: #525659;
$secondary-color: #d1515a;
$tertiary-color: #012242;

$lightened-primary: lighten($primary-color, 40%);
$lightened-tertiary: lighten($tertiary-color, 15%);

$even-lighter-tertiary: lighten($tertiary-color, 30%)